html, body {
    height: 100%; 
    margin: 0; 
  }

  .dog-info-container {
    background-color: #f1f1f1;
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .beige-rectangle {
    background-color: #EDEAE0;
    width: 1680.002px;
    height: 936.924px;
    display: flex;
    
  }

  .fetched-dog-name {
    color: #FF7F50;
    font-size: 48px;
    font-family: 'Acme', sans-serif; 
    font-weight: 400;
    line-height: 30.15px;
    word-wrap: break-word;
    position: absolute;
    top: 228px;
    left: 771px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .fetched-label {
    color: #8D8D8D;
    font-size: 21.11px;
    font-family: 'Acme', sans-serif; 
    font-weight: 400;
    line-height: 30.15px;
    word-wrap: break-word;
  }
  
  .fetched-label-container {
    position: absolute;
    top: 290px;
    left: 787px;
  }
  
  .fetched-label + .fetched-label {
    margin-top: 33.17px;
  }

  .fetched-data {
    color: #000000;
    font-size: 21.11px;
    font-family: 'Acme', sans-serif; 
    font-weight: 400;
    line-height: 30.15px;
    word-wrap: break-word;
  }
  
  .fetched-data-container {
    position: absolute;
    top: 290px;
    left: 1080px;
    max-width: 470.002px; 
  }
  
  .fetched-data + .fetched-data {
    margin-top: 33.17px;
  }

  .horizontal-line {
    width: 779px;
    height: 1px; 
    background-color: black; 
    position: absolute;
  }

  .fetched-data-container .fetched-data {
    position: relative;
  }

  .application-button {
    position: absolute;
    width: 224px;
    height: 49px;
    padding-top: 10px;
    padding-bottom: 9px;
    padding-left: 24px;
    padding-right: 25px;
    background: #FD7401;
    box-shadow: 0px 0px 19.665578842163086px rgba(0, 0, 0, 0.12);
    border-radius: 7.02px;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
  }
  
  .application-button-text {
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .fetched-dog-image-container {
    position: absolute;
    top: 207px;
    left: 271px;
    width: 438px;
    height: 517px;
    border-radius: 16px; 
    overflow: hidden; 
    border: 1px solid black;
  }

  .thumbnails-container {
    position: absolute;
    top: 724px; 
    left: 231px; 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .thumbnail {
    width: 98px;
    height: 116px;
    cursor: pointer; 
    border-radius: 5px; 
    overflow: hidden; 
    border: 1px solid black;
  }
  
  
  
  
  


  
  
  