html, body {
    height: 100%; 
    margin: 0; 
  }

  .inbox-container {
    background-color: #f1f1f1;
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .white-rectangle {
    background-color: white;
    width: 1680.002px;
    height: 936.924px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    
  }

  .inbox-profile-rectangle {
    width: 289px;
    height: 909px;
    background-color: #D5EAEA;
    border-radius: 14.05px;
    position: absolute;
    top: 14px;
    left: 14px;
}

.inbox-welcome-text {
    color: black;
    font-size: 28px;
    font-family: 'Acme';
    font-weight: 400;
    position: absolute;
    top: 193px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.inbox-rectangle {
    width: 1273px; 
    height: 831px;
    border-radius: 14.05px;
    border: 1px solid black;
    position: absolute;
    top: 91px;
    left: 355px;
  }

  .inbox-search-bar {
    width: 877px;
    height: 53px;
    background: white;
    border-radius: 39.94px;
    border: 2.85px solid black;
    position: absolute;
    left: 61px; 
    top: 50px; 
    padding: 0 20px;
    display: flex;
    align-items: center;
  }

  .inbox-search-bar input {
    color: #8D8D8D;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;    
  }
  
  .inbox-magnifying-glass {
    width: 38px;
    height: 38px;
    position: absolute;
    left: 949px;
    top: 55px;
  }
  
  .message {
    margin-right: 703px; 
  }

  .line.line4 {
    top: 488px;
    width: 683px;
    transform: rotate(90deg);
}
.line.line8 {
  top: 278px; 
}

.line.line7 {
  top: 436px; 
}

.line.line5 {
  top: 594px; 
}

.line.line6 {
  top: 752px; 
}

.inbox-data-first {
    margin-top: 66px; 
    color: black;
    font-size: 32px;
    font-family: 'Calibri';
    font-weight: 400;
    word-wrap: break-word;
    margin-top: 30px; 
    white-space: nowrap;        
    overflow: hidden;           
    text-overflow: ellipsis;    
    max-width: 850px; 
  }
  
  .inbox-data {
    color: black;
    font-size: 32px;
    font-family: 'Calibri';
    font-weight: 400;
    word-wrap: break-word;
    margin-top: 30px; 
    white-space: nowrap;        
    overflow: hidden;           
    text-overflow: ellipsis;    
    max-width: 850px; 
  }

  .listing-label {
    color: black;
    font-size: 32px;
    font-family: 'Acme';
    font-weight: 400;
    word-wrap: break-word;
  
  }

  .label-data-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px; 
  }

  .inbox-name {
    margin-left: 20px; 
  }
