
  
  .chat-box {
    width: 1128px;
    height: 75px;
    background: white;
    border-radius: 17px;
    border: 1px solid black;
    position: absolute;
    left: 72px;
    bottom: 61px;
    padding: 10px;
    display: flex;
    align-items: center; 
  }
  
  .chat-input {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 12px;
    border-radius: 5px;
    color: #000;
    font-family: Acme;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .messages-container {
    margin-top: 10px;
    padding-left: 121px;
    max-height: 651px; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: auto;
  }
  
  .message-rectangle {
    min-width: 470px;
    min-height: 132px; 
    background: #2BB4DF;
    border-radius: 17px;
    margin-top: 10px;
    display: flex;
    align-items: center; 
    padding-left: 84px;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    margin-right: 60px;
  }
  
  .message-text {
    color: black;
    font-size: 24px;
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
  }

  .message-rectangle-other {
    background: #76C893; 
    min-width: 470px;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    padding: 10px; 
    margin-bottom: 10px; 
    align-self: flex-end; 
    padding-right: 84px;
    margin-right: 60px;
  }

.messages-container {
  position: relative;
}

.message-rectangle, .message-rectangle-other {
  position: relative;
}


.user-profile-image {
  position: absolute;
  left: -60px; 
  top: 50%; 
  transform: translateY(-50%); 
  width: 132px;
  height: 132px; 
  border-radius: 50%; 
}

.receiver-profile-image {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  position: absolute;
  right: -50px;
}

  
  
  
  
  