.white-account-rectangle {
  background-color: white;
  width: 1680.002px;
  height: 936.924px;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end; 
  position: relative; 
  overflow: hidden;
}

.my-account-rectangle {
    background-color: #D5EAEA;
    width: 690px;
    height: 732px;
    flex-shrink: 0;
    position: absolute;
    top: 137px;
    right: 196px;
    display: flex; 
    flex-direction: column; 
    overflow: hidden;
  }

.my-account-title {
    color: black;
    font-size: 40px;
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    margin-top: 31px;
    text-align: center;
  }

  .my-account-image {
    width: 100%;  
    height: 100%; 
    object-fit: cover; 
    border-radius: 50%; 
    overflow: hidden;
    z-index: 3; 
  }
  .my-account-white-circle {
    width: 218px;
    height: 218px;
    background-color: white;
    border-radius: 50%;  
    position: absolute;
    top: 129px;
    left: 50%;
    transform: translateX(-50%);
  }
  .change-pic-button {
    width: 304px;
    height: 50px;
    position: absolute;
    border-radius: 8px;
    border: 1px solid #008080;
    margin-top: 23px; 
    display: flex;
    justify-content: center;
    align-items: center; 
    cursor: pointer; 
    background-color: #ffffff00; 
    left: 30%;
    top: 50%;
    z-index: 2;
  }
  
  .change-pic-text {
    color: #008080;
    font-size: 16px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600;
    word-wrap: break-word;
  }

  .my-info-style {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 283px; 
    left: 54px; 
}

.my-info-display-value {
    color: #8D8D8D;
    font-size: 19.67px;
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    line-height: 28.09px;
    border-bottom: 1px solid #000;
    background-color: transparent;
    padding: 8px 0;
    margin-bottom: 20px;
    width: 350px;
  }

  .info-field {
    color: #8D8D8D;
    font-size: 19.67px;
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    line-height: 28.09px;
    border-bottom: 1px solid #000;
    background-color: transparent;
    padding: 8px 0;
    margin-bottom: 20px;
    width: 350px;
}


  .adoption-input-group {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 16px;
}

.my-account-info {
    color: black;
    font-size: 40px;
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    top: 161px;
    left: 50px;
    position: absolute;
  }

  h4 {
    position: absolute;
    top: 220px; 
    left: 50px;
}

  .edit-button {
    width: 100px;
    height: 37px;
    background: #FD7401;
    box-shadow: 0px 0px 19.665578842163086px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 7.02px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-family: 'Acme';
    cursor: pointer;
    left: 470px;
    top: 170px;
    position: absolute;
  }
  .save-button {
    box-shadow: 0px 0px 19.665578842163086px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 7.02px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-family: 'Acme';
    cursor: pointer;
    left: 590px;
    top: 170px;
    position: absolute;
    background-color: green; 
    width: 100px;
    height: 37px;
    
  }

  .change-password {
    color: black;
    font-size: 40px;
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    top: 221px;
    position: absolute;
  }

  .my-account-field-group {
    display: flex;
    justify-content: start;
    gap: 25px; 
  }
  .my-form-field {
    position: relative;
    margin-top: 100px; 
  }
  .my-top-field {
    position: relative;
    margin-top: 50px; 
  }

  .my-input {
    color: #8D8D8D;
    font-size: 19.67px;
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    line-height: 28.09px;
    word-wrap: break-word;
    border: none;
    border-bottom: 1px solid #000; 
    background-color: transparent;
    width: 350px; 
    padding: 8px 0; 
    margin-bottom: 20px;
    outline: none;
    
  }

  .change-pass-button {
    width: 200px;
    height: 47px;
    background: #FD7401;
    box-shadow: 0px 0px 19.665578842163086px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 7.02px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-family: 'Acme';
    cursor: pointer;
    left: 250px;
    top: 50px;
    position: relative;
  }

  .my-editing-field {
    position: relative;
  }



  